<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109154806584-je0cfh626v3kh4bo47jphp8r1jmekq7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109154806584-je0cfh626v3kh4bo47jphp8r1jmekq7u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109154806584-atqdh72bhqqh5e0uh8atccgs2178efou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzwsGALXcO1FjY-Rv9QGGhFj8rFPJnc5E</string>
	<key>GCM_SENDER_ID</key>
	<string>109154806584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.tafka.sohoApp</string>
	<key>PROJECT_ID</key>
	<string>soho-app-test</string>
	<key>STORAGE_BUCKET</key>
	<string>soho-app-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109154806584:ios:4b771ea721703453</string>
	<key>DATABASE_URL</key>
	<string>https://soho-app-test.firebaseio.com</string>
</dict>
</plist>